
/*----responsive styling-----*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #000;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    background: #000;
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .slide .content {
    width: 50rem;
  }

  .review .review-slider {
    width: 100%;
    padding: 1rem;
    padding-top: 15%;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #000;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content {
    width: 30rem;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
  #teamMembers .container{
    left: 0;
  }
  #teamMembers .container .icon .imgBx{
    height: 80px;
    width: 80px;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #000;
  }
}

